
<%= form_with(model: @collection) do |f| %>
    <%= f.label :count %>
    <%= f.text_field :count %><br>
    

    <% Card.all.each do |card| %>
    <li>
      <%= f.check_box :card_ids, { multiple: true }, card.id, nil %>
      <%= card.name %>
    <% end %>
    </li>
    <%= f.submit button_name %>
<% end %>