    <div class="signup">
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>