<%= form_with(model: model) do |f| %>
    <%= f.label :quantities %>
    <%= f.text_field :quantities %><br>
    <h3> <%= form_title %></h3>
    <%= f.fields_for :cards do |c| %>
      <%= c.label :name %>
      <%= c.text_field :name %><br>
      <%= c.label :amount %>
      <%= c.text_field :amount %><br>
      <hr>
    <% end %>
  
    
    <%= f.submit button_name %>
<% end %>