<div class='content-wrapper'>
    <h1><%= "Change the Collection for Card" %></h1>
</div>
<%= form_with(model: [@collection, @card]) do |f| %>
    <%= f.collection_select(:card_id, Card.all, :id, :name) %>
    <% if @collection %>
        <%= f.hidden_field :collection_id, value: @collection.id %> 
    <%else%>
        <h3> Select existing Collection </h3>
        <%= f.collection_select(:collection_id, Collection.all, :id, :name) %>

    <%end %>
    <%= f.submit "Create Collection" %>
<% end %>