
<%= form_for @deck do |f| %>


  <div>Deck Name:</div> <div><%= f.text_field :name %></div>


Add Cards:

   <div>
    <%= f.fields_for :decklists, @decklists do |decklists| %>
    <div>
      Quantities: <%= decklists.text_field :quantities %>
  
    Select Cards: <%= decklists.collection_select :card_id, Card.order('name ASC').all, :id, :name, include_blank: 'Select Card' %>
    <%= decklists.fields_for :quantities, @deck.cards.build do |card| %>
    <% end %>
    </div>
      <% end %>
   </div>

  <%= f.submit "Submit" %>
<% end %>