<div class='content-wrapper'>
  <h2 class='content-title'><%= @deck.name %></h2>

  <div class='show-deck-card-wrapper'>
<%= form_with(model: @deck) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.submit button_name %>

  <% Card.all.each do |card| %>
    <%= f.check_box :card_ids, { multiple: true }, card.id, nil %>
    <%= card.name %>
  <% end %>

  <%= f.submit button_name %>
<% end %>
