
<%= form_for @deck do |f| %>


  <div>Deck Name:</div> <div><%= f.text_field :name %></div>


Add Cards:

   <div>
    <%= f.fields_for :deck_cards, @deck_cards do |deck_cards| %>
    <div>
      Mainboard: <%= @.text_field :quantities %>
  
    Select Cards: <%= cards.collection_select :card_id, Card.order('name ASC').all, :id, :name, include_blank: 'Select Card' %>
    <%= deck_cards.fields_for :quantities, @deck.cards.build do |card| %>
    <% end %>
    </div>
      <% end %>
   </div>

  <%= f.submit "Submit" %>
<% end %>