<h1><%= @deck.name %></h1>

<%= link_to 'Back', decks_path %>

<%= link_to 'Edit', edit_deck_path(@deck) %>

<p>
  Creator: <strong><%= @deck.user.username %></strong>
</p>

<div>
  <h3>Cards</h3>
     
  <ul>
    <% @deck.cards.each do |card| %>
      <% @deckcard = DeckCard.find_by(deck_id: @deck.id, card_id: card.id) %>
       <li>
        <%= link_to(card) do %><%=@deckcard.quantity %>x
          <%= image_tag(card.image_url) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
